body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #131842;
  padding: 10px;
  margin: 0;
}

.container {
  background-color: #FFF;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-top: 4px solid #674188;
  margin-right: 50px;
}

h2 {
  color: #674188;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 24px;
}

.table-container {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #FFF;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  font-size: 14px;
}

th, td {
  padding: 15px 20px;
  text-align: left;
  border-bottom: 1px solid #eee;
}

th {
  background-color: #674188;
  color: #FFF;
  font-size: 500;
  text-transform: uppercase;
}

tr:nth-child(even) {
  background-color: #E2BFD9;
}

tr:hover {
  background-color: #ebe9e8;
}

.errorMsg {
  color: #c82333;
  margin-bottom: 15px;
}

.btn {
  display: inline-block;
  padding: 10px 15px;
  /* border: none; */
  cursor: pointer;
  border-radius: 4px;
  text-decoration: none;
  font-size: 14px;
  transition: background-color 0.3s, transform 0.2s;
  margin-right: 15px;
  margin-bottom: 10px;
}

.btn-primary {
  background-color: #674188;
}

.btn-danger {
  background-color: #dc3545;
}

.btn-info {
  background-color: #33bee5;
}

.btn:hover {
  transform: translateY(-2px);
}

@media (min-width: 600px) and (max-width: 1024px) {
  table {
    font-size: 15px;
  }
  th, td {
    padding: 12px;
  }
}

@media (max-width: 600px) {
  table {
    font-size: 12px;
  }
  th, td {
    padding: 10px;
  }
}


@media (min-width: 576px) {
  .btn {
    margin-bottom: 0;
  }
}

@media (min-width: 600px) and (max-width: 1024px) {
  .container {
    padding: 20px;
    max-width: 720px !important;   
  }
}

@media (min-width: 768px) {
  body {
    padding: 20px;
  }
}
